<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:cache="http://www.springframework.org/schema/cache" xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	xsi:schemaLocation="http://www.springframework.org/schema/rabbit
		http://www.springframework.org/schema/rabbit/spring-rabbit-1.4.xsd
		http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-4.3.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
        http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd">

	<!-- 定义RabbitMQ的连接工厂 -->
	<rabbit:connection-factory id="connectionFactory"
		host="${rabbit.host}" port="${rabbit.port}" username="${rabbit.username}"
		password="${rabbit.passwd}" virtual-host="${rabbit.vhost}" />

	<!-- MQ管理 -->
	<rabbit:admin connection-factory="connectionFactory"/>
	
	<!-- 定义queue (TODO: 代码创建更灵活) -->
	<rabbit:queue name="item_queue" durable="true" auto-declare="true" auto-delete="false" exclusive="false"/>

	<!-- 定义交换机，开启持久化 -->
	<rabbit:topic-exchange name="eshop-item-exchange" auto-declare="true" durable="true">
		<rabbit:bindings>
			<rabbit:binding pattern="item.#" queue="item_queue"></rabbit:binding>
		</rabbit:bindings>
	</rabbit:topic-exchange>
	
	<!-- 定义模板 -->
	<rabbit:template id="rabbitTemplate" connection-factory="connectionFactory" exchange="eshop-item-exchange"/>
	
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!--配置mybatis全局配置文件:mybatis-config.xml -->
		<property name="configLocation" value="classpath:mybatis/mybatis-config.xml" />
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- dao注入spring -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<!-- 接口扫描包 -->
		<property name="basePackage" value="com.vigorous.mapper" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
	</bean>

	<!-- 还可以使用 <context:exclude-filter这个方式，过滤掉需要留给mvc配置去加载的包 -->
	<context:component-scan base-package="com.vigorous.service" />

	<!-- 使用注解式声明事务支持需要 -->
	<!-- <tx:annotation-driven transaction-manager="txManager"></tx:annotation-driven> -->

	<bean id="txManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- 事务通知 -->
	<tx:advice id="txAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="get*" read-only="false" propagation="SUPPORTS" />
			<tx:method name="find*" read-only="false" propagation="SUPPORTS" />
			<tx:method name="create*" read-only="false" />
			<tx:method name="save*" read-only="false" propagation="REQUIRED" />
			<tx:method name="update*" />
			<tx:method name="delete*" />
			<!--<tx:method name="*"/> -->
		</tx:attributes>
	</tx:advice>

	<!-- 定义aop切面处理器 -->
	<bean id="dataSourceAspect" class="com.vigorous.datasource.DataSourceAspect"></bean>

	<!-- <aop:aspectj-autoproxy proxy-target-class="true" /> -->
	<aop:config>
		<!-- 定义切面，这是aspectJ的切点表达式语言 -->
		<aop:pointcut id="bussinessService"
			expression="execution(* com.vigorous.service.*.*(..))" />
		<!-- 通知（何时）：将定义好的事务处理策略应用到上述的切入点 -->
		<aop:advisor pointcut-ref="bussinessService" advice-ref="txAdvice" />

		<!-- 将切面应用到自定义的切面处理器上，-9999保证该切面优先级最高执行 -->
		<aop:aspect ref="dataSourceAspect" order="-9999">
			<aop:before method="before" pointcut-ref="bussinessService" />
		</aop:aspect>
	</aop:config>


	<!-- 开发环境 -->
	<beans profile="dev">
		<context:property-placeholder location="classpath:property/*-dev.properties" />

		<bean id="dataSource" class="com.vigorous.datasource.DynamicDataSource">
			<!-- 设置多个数据源 -->
			<property name="targetDataSources">
				<map key-type="java.lang.String">
					<!-- 这个key需要和程序中的key一致 -->
					<entry key="master" value-ref="dataSourceW" />
					<entry key="slave" value-ref="dataSourceR" />
				</map>
			</property>
			<!-- 设置默认的数据源，这里默认走写库 -->
			<property name="defaultTargetDataSource" ref="dataSourceW" />
		</bean>
		<!-- 实现读写分离 -->
		<bean id="dataSourceW" class="com.alibaba.druid.pool.DruidDataSource"
			destroy-method="close">
			<property name="driverClassName" value="${jdbc.master.driver}" />
			<property name="url" value="${jdbc.master.url}" />
			<property name="username" value="${jdbc.master.username}" />
			<property name="password" value="${jdbc.master.password}" />
			<property name="maxActive" value="10" />
			<property name="minIdle" value="5" />
		</bean>
		<bean id="dataSourceR" class="com.alibaba.druid.pool.DruidDataSource"
			destroy-method="close">
			<property name="driverClassName" value="${jdbc.slave.driver}" />
			<property name="url" value="${jdbc.slave.url}" />
			<property name="username" value="${jdbc.slave.username}" />
			<property name="password" value="${jdbc.slave.password}" />
			<property name="maxActive" value="10" />
			<property name="minIdle" value="5" />
		</bean>
	</beans>

	<!-- 测试环境 -->
	<beans profile="qa">
		<context:property-placeholder location="classpath*:property/*-qa.properties" />
		<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"
			destroy-method="close">
			<property name="driverClassName" value="${jdbc.driver}" />
			<property name="url" value="${jdbc.url}" />
			<property name="username" value="${jdbc.user}" />
			<property name="password" value="${jdbc.password}" />
		</bean>
	</beans>

	<!-- 生产环境 -->
	<beans profile="prod">
		<context:property-placeholder location="classpath:property/*-prod.properties" />
		<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource"
			destroy-method="close">
			<property name="driverClassName" value="${jdbc.driver}" />
			<property name="url" value="${jdbc.url}" />
			<property name="username" value="${jdbc.username}" />
			<property name="password" value="${jdbc.password}" />
		</bean>
	</beans>

</beans>
